
<div style="margin-top:1%;">
  <h3>Monthly Death Premium Calculator</h3>
  <br />
</div>
<h5>Member Profile</h5>
<span style="float:right"><font color="#ff0000">*</font> indicates required fields.</span>
<form #userform="ngForm" (ngSubmit)="calculatePremium()">
  <div class="form-group required">
    <div class="form-row">
      <div class="form-group col">
        <label> Name</label>
        <input id="txtName" name="name" class="form-control" ngModel #name="ngModel"
               required
               minlength="2"
               maxlength="30"
               pattern="[a-z A-Z ]*" placeholder="Enter Your Fullname" />
        <span *ngIf="name.touched && name.invalid" 
              style="color:red; font-size:small;">
          Name is required and can have only alphabets.
        </span>
      </div>
      <div class="form-group">
        <label>
          Date of Birth
        </label>
        <input id="txtDOB" name="dob" class="form-control" type="date" required (change)="calculateAge($event)"
               ngModel #dob="ngModel" max="{{maxDate | date:'yyyy-MM-dd'}}"/>
        <span *ngIf="dob.touched && dob.invalid"
              style="color:red; font-size:small;">
          Date of Birth is required.
        </span>
      </div>
      <div class="form-group">
        <label>Age</label><input type="text" class="form-control" name="showAge" disabled [(ngModel)]="showAge"
                                  placeholder="Age calculates based on provided DOB" />
      </div>
    </div>
    <div class="form-group">
      <label>
        Occupation
      </label>
      <select (change)="selectedOccupationChange($event)" name="occupation" class="form-control"
              required ngModel #occupation="ngModel">
        <option value="" disabled selected>Select Occupation</option>
        <option *ngFor="let occupation of occupations" value={{occupation.rating}}>
          {{occupation.name}}
        </option>
      </select>
      <span *ngIf="occupation.touched && occupation.invalid"
            style="color:red; font-size:small;">
        Select any Occupation.
      </span>
    </div>
    <div class="form-row">
      <label>Death - Sum Insured</label>
      <input type="text" placeholder="Enter Death - Sum Insured Amount" name="sumInsured"
             required class="form-control" [(ngModel)]="sumInsuredAmount"
             pattern="^[0-9]*$"
             ngModel #sumInsured="ngModel" />
      <span *ngIf="sumInsured.touched && sumInsured.invalid"
            style="color:red; font-size:small;">
       
        Death - Sum Insured Amount is required and can have only digits.
      </span>
    </div>
    <div>      
      <button class="btn btn-primary" [disabled]="userform.invalid" (click)="calculatePremium()" ng-disabled="formname.$invalid">Calculate</button>
    </div>
    <br />
    <div class="form-row" style="margin-right:40%;">
      <span style="font-size:18px;">Monthly Death Premium</span>
      <strong class="right">{{ premiumAmount }}</strong>
    </div>
  </div>
</form>

